.u-section-1 .u-sheet-1 {
  min-height: 424px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  width: 530px;
  margin: 83px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 75px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: 10px auto 60px 106px;
  padding: 0;
}