.u-section-1 .u-sheet-1 {
  min-height: 437px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  width: 530px;
  margin: 83px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 75px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 109px;
    margin-left: 0;
    margin-right: 0;
  }
}